* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    padding-top: 3.5rem;
/*    margin-bottom: 3.5rem;*/
}

html {
    position: relative;
    min-height: 100%;
}

.container {
    max-width: 1600px;
}

.text-blue {
    color: #00e0d0;
}

.test {
    filter: brightness(45%);
}

/*
.carousel-1 {
    background: linear-gradient(rgba(59, 43, 97, 0.7), rgba(59, 43, 97, 0.7)), url('https://i.pinimg.com/originals/ff/87/c6/ff87c620eae343e56c2e0c0f4528ead8.jpg');
}
*/

.carousel .item-1 {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 700px;
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border: white 1px solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators .active {
    background-color: white;
}

#video {
    transition: filter 1s;
    filter: brightness(45%);
}

.content-1-img {
    max-height: 250px;
    max-width: 250px;
}

.content-3-img {
    max-height: 150px;
    max-width: 150px;
}

.content-4-img {
    max-height: 250px;
    max-width: 250px;
}

.content-4 {
    background: linear-gradient(rgba(59, 43, 97, 0.7), rgba(59, 43, 97, 0.7)), url('https://i.pinimg.com/originals/73/bf/f2/73bff2f1ea5991531be4bf19c4fa781a.jpg');
    background-size: cover;
}

.content-6 {
    background: linear-gradient(rgba(59, 43, 97, 0.7), rgba(59, 43, 97, 0.7)), url('https://i.pinimg.com/originals/ff/87/c6/ff87c620eae343e56c2e0c0f4528ead8.jpg');
    background-size: cover;
}

.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 500px;
}

footer {
    background: linear-gradient(rgba(59, 43, 97, 0.7), rgba(59, 43, 97, 0.7)), url('https://st2.depositphotos.com/1561359/5771/v/950/depositphotos_57716093-stock-illustration-working-place-elements-on-white.jpg');
    background-size: cover;
    
}

#play-pause:hover {
    -webkit-animation: zoom-in-out 4s ease 0s infinite normal;
    -moz-animation: zoom-in-out 4s ease 0s infinite normal;
    -ms-animation: zoom-in-out 4s ease 0s infinite normal;
    animation: zoom-in-out 4s ease 0s infinite normal;
}

@-webkit-keyframes zoom-in-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom-in-out {
    0% {
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    .content-1-img {
        max-height: 150px;
        max-width: 150px;
    }

    .content-3-img {
        max-height: 75px;
        max-width: 75px;
    }

    .content-4-img {
        max-height: 150px;
        max-width: 150px;
    }

    /*
    .carousel .item-1 {
        min-height: 300px;
    }
*/
}
